<!-- 
 - *ngIf="hero" -> The component should only display the selected hero details if it exists.
                   When the app starts, the hero is undefined by design.
                   Binding expressions in the template that refer to properties of hero:
                   expressions like {{hero.name}} — must fail because there is no selected hero.
                   The fix - hide empty details with *ngIf
-->
<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div><span>name: </span>{{hero.name}}</div>

    <br/>
    <div>
        <label>name:
            <!--
             - [(ngModel)] -> is Angular's two-way data binding syntax - it binds the hero.name property 
                              to the HTML textbox so that data can flow in both directions: from the 
                              hero.name property to the textbox, and from the textbox back to the hero.name 
            -->
            <input [(ngModel)] = "hero.name" placeholder = "name" />
        </label>
    </div>
</div>

<br/>
<button (click)="goBack()">go back</button>
